### **Configuration of Python Connection with MySQL**

In [ ]:
!pip install pymysql
!pip install boto3

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (1.21.29)
Requirement already satisfied: botocore<1.25.0,>=1.24.29 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.24.29)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.0.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3) (0.5.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.29->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.29->boto3) (1.26.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.25.0,>=1.24.29->boto3) (1.15.0)

In [ ]:
import pymysql
import boto3

In [ ]:
db=pymysql.connect(host='database-2.ctt0w0ftukgf.us-east-2.rds.amazonaws.com',user='admin',password='admin1234')

In [ ]:
cursor=db.cursor()
cursor.execute("select version()")

1

In [ ]:
data=cursor.fetchall();

In [ ]:
data

(('8.0.27',),)

### **Create Database**

In [ ]:
sql='''create database db3'''
cursor.execute(sql)

In [ ]:
sql='''use db3'''
cursor.execute(sql)

0

In [ ]:
cursor.connection.commit()

In [ ]:
sql='''
create  table student(
roll_no int not null auto_increment,
fname text,
lname text,
address text,
primary key(roll_no)
)
'''
cursor.execute(sql)

In [ ]:
sql="show tables"
cursor.execute(sql)
cursor.fetchall()

(('per',), ('student',))

In [ ]:
sql='''
insert into student values (3,'Amit','Kumar','B'),
 (4,'Shatrughan','Rai','V'),(5,'Aashutosh','Sharma','B')

'''
cursor.execute(sql)

In [ ]:
sql="select * from student"
cursor.execute(sql)
cursor.fetchall()

((1, 'laxmi', 'kant', None),
 (2, 'Shubham', 'Tomer', 'G'),
 (3, 'Amit', 'Kumar', 'B'),
 (4, 'Shatrughan', 'Rai', 'V'),
 (5, 'Aashutosh', 'Sharma', 'B'))

In [ ]:
cursor.connection.commit()

# **Creating dataframe from sql table and coversion to csv**

In [ ]:
import pandas as pd
cursor.execute("SELECT * FROM student")
df = pd.DataFrame(data=cursor.fetchall(),columns =['Roll_No','F_Name','L_Name','Address'])       
df.set_index('Roll_No',inplace=True)   
print (df)

             F_Name  L_Name Address
Roll_No
1             laxmi    kant    None
2           Shubham   Tomer       G
3              Amit   Kumar       B
4        Shatrughan     Rai       V
5         Aashutosh  Sharma       B

In [ ]:
df.to_csv('/content/student.csv')

In [ ]:
# !pip3 install boto3 
# !pip3 install --user --upgrade boto3

Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (1.21.28)
Requirement already satisfied: botocore<1.25.0,>=1.24.28 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.24.28)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.0.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3) (0.5.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.28->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.28->boto3) (1.26.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.25.0,>=1.24.28->boto3) (1.15.0)
Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (1.21.28)
Requirement already satisfied: botocore<1.25.0,>=1.24.28 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.24.28)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.0.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3) (0.5.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.28->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.28->boto3) (1.26.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.25.0,>=1.24.28->boto3) (1.15.0)

# **Uploading csv to s3[data migration]**

In [ ]:
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='AKIA3JTMUWYSLGJXRXMI',
    aws_secret_access_key='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'
)
# Upload files to S3 bucket
s3.Bucket('task-bk').upload_file(Filename='student.csv', Key='s1.csv')
#view files in s3
my_bucket = s3.Bucket('task-bk')

for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object.key)

ctry.zip
s1.csv
wb.zip

In [ ]:
cursor.close()